<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huazheng.mall.dao.CategoryDao">
    <sql id="Base_Cloum_List">
        id,parent_id,name,status,sort_order,create_time,update_time
    </sql>
    <select id="selectCategory" resultType="Category">
        select <include refid="Base_Cloum_List"/>
        from mall_category where parent_id = ${id}
    </select>
</mapper>